<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/guns_rest?serverTimezone=UTC"
                        userId="root"
                        password="root">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.wwn.film.film.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.wwn.film.film.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

<!--        <table tableName="mooc_banner_t" domainObjectName="BannerPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
<!--        <table tableName="mooc_cat_dict_t" domainObjectName="CategoryPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
<!--        <table tableName="mooc_area_dict_t" domainObjectName="AreaPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
<!--        <table tableName="mooc_year_dict_t" domainObjectName="YearPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
<!--        <table tableName="mooc_film_t" domainObjectName="FilmPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
<!--        <table tableName="mooc_film_info_t" domainObjectName="FilmInfoPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
<!--        <table tableName="mooc_actor_t" domainObjectName="ActorPO"  enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" enableSelectByPrimaryKey="true"-->
<!--               enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"></table>-->
    </context>
</generatorConfiguration>
